body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* section{
    height: 100vh;
} */
.flex-content{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.half-width {
  width: 40%;
  padding: 0 20px;
  margin-left:50px;
}
.half-width img {
  
  position: relative;
  top:4%;
  width: 80%;
}
.half-width h1 {
  font-weight: 900;
  font-size: 3em;
}
.orange {
  color: orange;
}
.blue{
    color: cornflowerblue;
}
.title {
  font-weight: 900;
  font-size: 2em;
}
.details {
  color: dimgray;
  text-align: justify;
}
button{
    background-image:linear-gradient(orange,tomato);
    border-radius: 5px;
    
    padding:10px 40px;
    
    text-transform: capitalize;
    color:white;
    font-size: 2em;
    border: none;
    cursor: pointer;
}
button:hover{
    background-image:linear-gradient(90deg,tomato,orange);
}
.top-banner{
    height: 100vh;    
    background-image: url(./Images/key.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.middle-section {
    height: auto;
    background-image: url(./Images/handcap.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
   
}
.experience-title{
    text-align: center;
    font-size: 3em;   
}
.card-heading{
    font-size: 2.5em;
    margin-top: 5px;
    margin-bottom: 25px;
    /* color:orange; */
    font-weight: 700;
}
.card{
    padding: 20px 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 45%;
    height: 16em;
    box-shadow:
    2px 5px 17px 2px #dcd3d3;
    border-radius: 10px;
        
}
.border-left-blue{
    border-left:5px solid blue;
}
.border-left-orange {
    border-left: 5px solid orange;
}
.card-title{
    color: orange;
    font-size: 20px;
}
.card:hover{
    transform:scale(.99);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
}
.footer{
    height: auto;
    /* background-color: #f5d020; */
    background-image:url("./Images/5570840.jpg");
    background-size: cover;
    color: white;
    margin: 0;
    padding: 20px;
}
.copyright{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin: 10px 0;
}
.about-me h3{
    font-size: 2.5em;
    font-weight: 900;
}
.about-me p{
    text-align: justify;
    
}
.find-me h3 {
    font-size: 2.5em;
    font-weight: 900;
}

.find-me p {
    text-align: justify;
}
.find-me a{
    list-style: none;
    color: white;
}
.mr-3{
    
    margin-right: 10px;
}
@media (max-width:1200px) {
    .card {
        width: 40%;  
        margin-right: 10px;      
    }
    .middle-section{
        height: auto;
    }
    .half-width{
        width: 100%;
    }
    .top-banner{
        height: auto !important;
       
    }
   

}
@media (max-width:900px) {
    .card{
        width: 100%;
        margin-right: 10px;
    }
     body {
         font-size: 75%;
     }
}
