body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.flex-content {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.half-width {
  width: 50%;
  padding: 15px;
  margin: 10px;
}
.half-width img {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.half-width h1 {
  font-weight: 700;
  font-size: 40px;
}
.orange {
  color: orange;
}
.title {
  font-weight: 900;
  font-size: 20px;
}
.details {
  color: dimgray;
  text-align: justify;
}
button{
    background-image:linear-gradient(orange,tomato);
    border-radius: 5px;
    /* width: max-content; */
    padding:10px 40px;
    /* height: 8%; */
    text-transform: capitalize;
    color:white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-image:linear-gradient(90deg,tomato,orange);
}